@charset "utf-8";
/* CSS Document */
		#footer{background-color: gray; text-align: center; border-top: 5px solid #4AAAA5; height: 50px; color:white;font-size: 50%;}
		#copyright{margin-top: 4em;} 
		#name{background-color: #4AAAA5; color:white; width: 10em;height: 2em; text-align: center;}
		#cont{color:#4AAAA5}
		#jumbo {
    background-color: white;
			margin-top: 20px;}
		#photo1{margin-right: 20px;margin-bottom:40px; }
		#photo2{margin-right: 175px;margin-bottom:40px;}
		#photo3{margin-right: 20px; margin-bottom:40px;}
		#photo4{margin-right: 175px;margin-bottom:40px;}
		#photo5{margin-right: 20px;margin-bottom:40px;}
		#photo6{margin-right: 175px;margin-bottom:40px;}